<div>
    <h1 data-bind="text: FullName"></h1>
    <div data-bind="with: contributor">
        <div class="row">
            <div class="col-xs-2">
                <div class="pull-left">
                    <img class="img-responsive" data-bind="attr: {src: Picture}" />
                </div>
            </div>
            <div class="col-xs-10">
                <form>
                    <label for="txtName">First Name</label>
                    <input type="text" class="form-control" data-bind="value: FirstName" id="txtName" />
                </form>
            </div>
        </div>
    </div>
</div>